body {
  font-family: "Open Sans", sans-serif; }

h1 {
  color: #ccc;
  weight: 300; }

figure {
  margin: auto; }

.content article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center; }

img {
  max-width: 100%; }


/*Parallax*/

.main-box {
  position: relative;
  height: 630px;
  background-image: url(../img/main_bg.jpg);
  background-size: auto 630px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  
}

.back-box {
  width: 960px;
  height: 350px;
  background-image: url(../img/cloud2.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 46%;
  top:70px;
  margin-left: -480px; }

.logo {
  height: 249px;
  width: 100%;
  background-image: url(../img/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 13%;
  margin-top: -150px; }

.fore-box {
  width: 100%;
  height: 530px;
  
  background-image: url(../img/cutout2.png);
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  top:200px;
   }

.sicons{
  position: absolute;
  top: 93%;
  left: 57%;
  margin-top: -135px;
  height: 50px;
  width: 212px;
  display: inline-block; 
}

section{
    padding:100px 0px 5px 5px;
    overflow: auto;
    background: #fefefe;
}

h1.section-heading{
    margin: 0px;
    margin-top: -10px;
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 900;
    background-color: #fa6862;
    padding: 10px 30px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    display: inline-block;
}

h2.second-heading{
    margin: 0px;
    margin-top: -10px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #424242;
    padding: 22px 30px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 65px;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
}
 
/*FADE IN EFFECT at START*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay:1.5s;
  animation-delay: 1.5s;
}

.fade-in.three {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}


/*NAVBAR*/

.main-nav {
  position: relative;
  background: #424242;
  height: 50px;
  z-index: 200;
  margin-bottom: -50px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  font-family: 'Roboto',sans-serif;
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  background: #424242;
  margin-bottom: -50px;
  font-family: 'Roboto',sans-serif;
  height: 20px;
}

.nav li a{
    color: white;
}

.navbar-nav{
    padding: 0px 50px;
}

section.skill_back{
    height: 640px;
    background-image: url(../img/skill_back.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
;}

.skill_title{
    float: left;
    width: 50%;
    min-height: 180px;
    background-color: #424242;
    z-index: 100;
    -webkit-border-radius: 4px 0 0 4px;
}

.skill_perc{
    z-index: 90;
    float: left;
    width: 50%;
    text-align: center;
}

.skill_set{
    min-height: 180px;
    width: 100%;
    border-radius: 4px;
    background: white;
    display: inline-block;
    margin-bottom: 20px;
}

.skill_name{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 75px;
    width: 100%;
    float: left;
    font-family: 'Roboto',sans-serif;
} 

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 40px;
    text-align: center;
}
.percent{
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-size: 25px;
    color: #3e3e3e;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    border-color: transparent transparent transparent #424242;
    border-style: solid;
    border-width: 9px;
    width: 0;
    height: 0;
    float: right;
    margin-right: -18px;
    margin-top: 75px;
    position: relative;
}